* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
.border_1, .border_2{
  margin: 0 auto;
  border-radius: 8px;
  width: 500px;
  height: auto;
  padding: 15px;
  margin-top: 10px;
}
.border_1{
  background-color: aliceblue;
}
img{
  border-radius: 13px;
  width:470px ;
  height: 300px;
}
.info h2{
  padding: 10px 0;
  color: rgba(61, 61, 221, 0.669);
}
.info h6{
  font-size: 20px;
  padding: 10px 0;
  color: rgb(77, 119, 14);
}
.info_danhgia{
  display: flex;
  align-items: center;
  gap: 4px;
}
.info_danhgia i{
  color: orange;
  width: 20px;
  height: 20px;
}
.info_danhgia i:nth-child(5){
  color: orange ;
}
.info_danhgia i:last-of-type{
  display: flex;
  margin-left: -21.5px;
  margin-top: 5px;
  color: white ;
  font-size: 11px;
}
.info button{
  background-color: rgb(237, 86, 49);
  color: white;
  border-radius: 8px;
  margin: 9px 0;
  padding: 12px;
}
.info button:hover{
  background-color: rgb(176, 43, 10);
}
.info_tienich {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.info_tienich p{
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  background-color: rgb(222, 216, 216);
  border-radius: 13px;
  gap: 10px;
}

.thongTin h4{
  padding: 15px 0;
}
.thongTin ul{
  display: block;
  list-style-type: disc;
  padding-left: 20px;
}
.thongTin li{
  padding: 2px;
}
.thongTin_boSung{
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 6px;
}
.thongTin_boSung p{
  padding: 5px 0;
  background-color:  rgb(202, 222, 239);
  border-radius: 15px;
}
.thongTin h4:nth-of-type(3)
{
  color: rgb(9, 102, 188);
}
.thongTin_noiBat p{
  color: rgb(69, 63, 63);
  padding: 5px;
}
.thongTin_noiBat i{
  color: rgb(9, 102, 188);
}
.thongTin h4:nth-of-type(4)
{
  color: rgb(201, 82, 23);
}
.thongTin_suDung p:first-of-type{
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 5px;
}
.thongTin_suDung p:not(:first-of-type){
  padding: 5px;
  color: rgb(150, 20, 150);
}
.thongTin_suDung i{
  color: orange;
}
.thongTin h4:nth-of-type(5)
{
  color: rgb(201, 29, 23);
}
.thongTin_dacBiet p{
  color: rgb(51, 153, 109);
  padding: 5px;
}
.thongTin_dacBiet i{
  color: rgb(195, 79, 26);
}
.thongTin_chiaSe button{
  padding: 6px;
  border-radius: 7px;
}
.thongTin_chiaSe button:first-of-type{
  color: white;
  background-color: rgb(17, 17, 130);
  
  
}
.thongTin_chiaSe button:nth-of-type(2){
  color: white;
  background-color: rgb(27, 150, 232);
}
.thongTin_chiaSe button:last-of-type{
  padding: 6px 2px;
  color: white;
  background-color: rgb(205, 66, 117);
}
.thongTin h3{
  padding: 20px 0;
  font-size: 150%;
}
textarea{
  width: 450px;
  height: 150px;
  color: rgb(138, 136, 141);
  padding: 10px;
}
button:last-of-type{
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(34, 105, 229);
  color: white;
  border-radius: 8px;
}

.border_2 img{
  width: 80px;
  height: 50px;
  border-radius: 10%;
}
.border2_spB{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.border2_spB p:first-of-type{
  font-weight: 150%;
  margin: 0 170px 0 5px;
}
.border2_spB p:last-of-type{
  color: rgb(11, 145, 83);
}
.border2_spC{
  display: flex;
  align-items: center;
}
.border2_spC p:first-of-type{
  margin: 0 170px 0 5px;
}
.border2_spC p:last-of-type{
  color: rgb(11, 145, 83);
}