* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color:rgb(245, 227, 158);
}
img {
    width: 300px;
    height: 160px;
    background-repeat: no-repeat;
}

.duoi {
    padding: 18px;
}

.the {
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 12px 12px rgb(173, 172, 172) ;
}

button {
    width: 260px;
    margin-top: 10px;
    background-color: rgb(251, 58, 58);
    border-radius: 10px;
    padding: 7px;
    margin-left: 1px;
    font-weight: bold;
}